body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #000;
    color: #fff; 
}

/* Header */
.header {
    display: flex;
    align-items: center;
    padding: 40px 60px;
}

.logo {
    width: 180px;
    height: 150px;
    border-radius: 10px;
}

.header h1 {
    margin: 0;
    font-size: 2.4rem;
}

.header p {
    margin-top: 5px;
    color: #ccc;
    font-size: 2rem;
}

/* Imagen Central */
.main-image img {
    display: block;
    margin: 20px auto;
    width: 75%;
    max-width: 900px;
    border-radius: 10px;
}

/* Seccion de Carpetas */
.carpetas {
    padding: 50px 60px;
}

.carpetas h2 {
    font-size: 2rem;
    margin-bottom: 50px;
}

/* Contenedor de tarjetas */
.secciones {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

/* Tarjeta */
.card {
    width: 30%;
    text-align: left;
}

.card img {
    width: 100%;
    height: 600px;
    margin-bottom: 10px;
}

.card h3 {
    margin: 0 0 8px 0;
    font-size: 2rem;
}

.card p {
    font-size: 1.5rem;
    color: #ddd;
    margin-bottom: 20px;
}

/* Botones */
.card button {
    display: block;
    margin: 0 auto;
    padding: 15px 40px;
    font-size: 2rem;
    background: #fff;
    color: #000;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.card button:hover {
    background: #333;
}

/* SECCIÓN OCULTA HASTA QUE SE HAGA CLICK CON EL BOTÓN */
.seleccion-contenido {
    padding: 60px;
    display: none;
}

:target {
    display: block;
}

/* Layout de la sección */
.seleccion-grid {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 80px;
}

.seleccion-grid .texto {
    width: 55%;
}

.seleccion-grid .imagen img {
    width: 100%;
    border-radius: 10px;
}

/* Otros temas recomendados */
.otros-title {
    margin-top: 40px;
    margin-bottom: 40px;
}

.otros-grid {
    display: flex;
    gap: 50px;
}

.card-reco {
    width: 40%;
    text-align: center;
}

.card-reco img {
    width: 60%;
    margin-bottom: 20px;
}

.card-reco h3 {
    font-size: 1.8rem;
}

.card-reco p {
    color: #ddd;
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.card-reco button {
    padding: 12px 30px;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
